<html>
<head>
<style type="text/css">#v{ background-color:green;height:600;width:600;border-radius:0px 0px 2000px 20px;margin:0px auto;border-color:darkblue;border:5px groove;}</style>
<title>HOME PAGE</title>
<body>{{> header}}
<div id="v">
<marquee>
<video height="300" width="600"   controls>
<source src="fairytail.mp4"  type="video/mp4"
the vedio</marquee>
</video><p>{{pagetitle}}</p>
</div>
{{> footer}}
</boby>
</head>
</html>
